
<div class="row">
  <h1><%= @cat.name %></h1>
</div>


<div class="row">

  <div class="col-md-6">
    <%= image_tag @cat.photo.url, class: "img-responsive" %>
  </div>

  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item">
        <%= @cat.gender %>
      </li>
      <li class="list-group-item">
        <%= @cat.color %>
      </li>
      <li class="list-group-item">
        <%= show_me_the_money @cat %>
      </li>
    </ul>
  </div>
</div>


<div class="row">
  <div class="col-md-12 text-center">
    <div id="the-form">
      <%= render partial: "purchases/form" %>
    </div>
  </div>
</div>
